<div class="card">

  <app-rating-select (selected)="getRating($event)"></app-rating-select>

  <header>
    <h2>How would you rate your service with us?</h2>
  </header>
  <form (submit)="handleSubmit()">
    <div class="input-group">
      <input #input type="text" placeholder="Tell us something that keeps you coming back" 
      (input)="onChangeInput(input.value)"/>
      <button class="custom-btn primary" type="submit" [disabled]="btnDisabled" [class.disabled]>Send</button>
    </div>
    <p class="message" *ngIf="btnDisabled">
      The review must be at least 10 characters long.
    </p>
</form>

</div>
