<div class="card">

  <app-rating-select (selected)="getRating($event)"></app-rating-select>

  <header>
    <h2>How would you rate your service with us?</h2>
  </header>

  <form>
    <div class="input-group">
      <input type="text" [formControl]="formFeedback" placeholder="Tell us something that keeps you coming back" />
      <button (click)="handleSubmit()" class="custom-btn primary" type="button"
        [disabled]="formFeedback.invalid">Send</button>
    </div>
    <p class="message" *ngIf="formFeedback.invalid">
      The review must be at least 10 characters long.
    </p>
  </form>

</div>
